<div class="detail-container">
  <img class="img" src="{{ product.url }}" />
  <div class="detail-item">
    <h2>{{ product.name }}</h2>
    <p>Price: ${{ product.price }}</p>
    <p>Description: {{ product.description }}</p>
    <form (ngSubmit)="(submit)">
      <div class="buttons_added">
        <input class="input-qty" max="10" min="1" name="quatityInCard" type="number" value="{{ quantity }}"
          [(ngModel)]="quantity" />
      </div>
      <div>
        <button type="add" (click)="submit()">
          Add to cart
        </button>
      </div>
    </form>
    <a routerLink="/">Back to list</a>
  </div>
</div>